<% if @notifications_hash.keys.empty? %>
<h2>Nothing new to report.</h2>
<% else %>
<% @notifications_hash.each do |commit, notifications| %>
<div class="commit-summary">
  <div class="span-16">
    <div class="message"><%= h commit.message %></div>
    <div class="committer">
      <img src="<%= User.gravatar(commit.committer.email) -%>" />
      <%= h commit.committer.name %>
    </div>
    <div class="committed-date"><%= time_ago_in_words commit.committed_date %> ago</div>
  </div>
  <div class="span-4 last">
    <div class="hash"><%= commit.sha1 %></div>
  </div>
  <div class="clearall"></div>


  <hr />
  <h2><%= link_to pluralize(notifications.length, 'notification'),
          repository_commit_url(commit.repository, commit) %></h2>
  <hr />
  <% notifications.each do |notification| %>
  <%= h notification.summary %>
  <% end %>
</div>
<% end %>
<% end %>
