<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Laizen</title>
    <%= stylesheet_link_tag 'screen' %>
    <%= stylesheet_link_tag 'application' %>

  </head>
  <body>
    <div class="container">
      <%= render :partial => 'shared/header' %>

      <div id="flash">
        <% flash.each do |key, value| -%>
        <div id="flash_<%= key %>" class="<%= key %>"><%=h value %></div>
        <% end -%>
      </div>

      <%= yield %>
      <%= render :partial => 'shared/footer' %>
      </div>
      <br />&nbsp;

    <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" %>
    <%= javascript_include_tag "jquery.form.js" %>
    <%= javascript_include_tag "application.js" %>
    </body>
  </html>
